---
title: "Music Library"
---

<section class="container px-0 intro-block">
  <h1>Available Tracks</h1>
</section>

<section class="container my-5" id="discography">
  <div class="row">
  <%= select_tag(
    :format,
    options: data.tracks.pluck(:artist).uniq.sort.prepend(['filter by artist', '']),
    class: 'col form-select form-select-sm js-filter',
    data: { filter: 'artist' },
  ) %>
  </div>
  <div id="track-list" class="row mt-4">
  <% idx = 0 %>
  <% data.tracks.sort_by { |hash| hash.values_at(:artist) }.each_with_index do |track, idx| %>
    <article data-artist="<%= track.artist %>">
      <a href="#" class="player-control" data-control="wavesurfer<%= idx %>"><i class="fa-regular fa-circle-play" style="color: #FFD43B;"></i></a>
      <a href="#" class="info-link" data-expand="#track-details-<%= idx %>">
        <i class="fa-solid fa-circle-info" style="color: #FFD43B;"></i>
      </a>
      <img class="artwork" src="<%= track.artwork %>" alt="<%= track.song_title %> by <%= track.artist %>">
      <div class="info px-0">
        <h3 class="card-title">
          <strong><%= track.song_title %></strong><br>
          by <%= track.artist %>
        </h3>
      </div>
      <div id="player-<%= idx %>" class="player"></div>
      <script>
        const wavesurfer<%= idx %> = WaveSurfer.create({
          container: '#player-<%= idx %>',
          height: 100,
          progressColor: '#383351',
          waveColor: '#4F4A85',
          url: '<%= track.instrumental_version %>',
        });
        wavesurfer<%= idx %>.on('click', () => {
          if(playing == wavesurfer<%= idx %>) {
            return;
          }
          if(playing) { playing.stop(); }
          wavesurfer<%= idx %>.play();
          playing = wavesurfer<%= idx %>;
        });
      </script>
    </article>
    <div class="track-details px-0" id="track-details-<%= idx %>" data-expanded-by=".info-link">
      <dl>
        <% %w[writer_1 writer_2 writer_3 publisher_1 publisher_2 isrc_number iswc_number].each do |attribute| %>
          <% next unless track.send(attribute) %>
          <dt><%= attribute.humanize %></dt>
          <dd><%= track.send(attribute) %></dd>
        <% end %>
      </dl>
    </div>
    <% idx = idx + 1 %>
  <% end %>
  </div>
</section>
